{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-md-4">
                <div class="card">
                    <div class="card-header">フォルダー</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush sortable" data-type="folder">
                            {% for folder in folders %}
                                <li style="list-style-type: none;" data-id="{{ folder.id }}">
                                    <a href="{% url 'tasks.index' folder_id=folder.id %}" 
                                       class="list-group-item list-group-item-action
                                       {% if folder.id == current_folder_id %}
                                           list-group-item-primary
                                       {% endif %}"
                                       >
                                        {{ folder.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'folders.create' %}" class="btn btn-light w-100" role="button">
                            フォルダーを追加する
                        </a>
                    </div>    
                </div>                       
            </div>
            <div class="column col-md-8">
                <div class="card">
                    {% block task_content %}
                        <div class="card-header">タスク</div>
                        {% if current_folder_id %}
                            <div class="card-body">                           
                                <table class="table">
                                    <thead class="table-light">      
                                        <tr>
                                            <th>タイトル</th>
                                            <th>状態</th>
                                            <th>期限</th>
                                        </tr>
                                    </thead>
                                    <tbody class="sortable" data-type="task" data-parent-id="{{ current_folder_id }}">
                                        {% for task in tasks %}
                                            <tr data-id="{{ task.id }}">
                                                <td>
                                                    <a href="{% url 'tasks.edit' folder_id=current_folder_id task_id=task.id %}" class="task-title">
                                                        {{ task.title }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="badge 
                                                        {% if task.status == 1 %}
                                                            bg-danger
                                                        {% elif task.status == 2 %}
                                                            bg-info
                                                        {% elif task.status == 3 %}   
                                                            bg-success  
                                                        {% endif %}">
                                                            {{ task.get_status_display }}
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>{{ task.due_date }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="text-end">
                                    <button 
                                    type="button"
                                    class="btn btn-danger" 
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                        フォルダーを削除する
                                    </button>
                                    <div 
                                    class="modal fade" 
                                    id="deleteModal" 
                                    tabindex="-1"
                                    aria-labelledby="deleteModalLabel"
                                    aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">フォルダーの削除</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    本当に削除しますか？
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                                                    <a href="{% url 'folders.delete' folder_id=current_folder_id %}" class="btn btn-danger">削除</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'tasks.create' folder_id=current_folder_id %}" class="btn btn-light">
                                        タスクを追加する
                                    </a>
                                </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var sortables = document.querySelectorAll('.sortable');
            sortables.forEach(function (sortable) {
                Sortable.create(sortable, {
                    onEnd: function (evt) {
                        var order = [];
                        for (var i = 0; i < sortable.children.length; i++) {
                            if (sortable.children[i].dataset.id) {
                                order.push(sortable.children[i].dataset.id);
                            }
                        }
                        var url = 'update_order';
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', url);
                        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                        xhr.send(JSON.stringify({
                            'type': sortable.dataset.type,
                            'parent_id': sortable.dataset.parentId,
                            'order': order
                        }));
                    }
                });
            });
        });
    </script>
{% endblock %}