body {
    background-color: #abdec6;
}

.navbar {
    margin: 2rem 0 2.5rem 0;
}

.my-navbar {
    align-items: center;
    background: #e5f58d;
    display: frex;
    height: 6rem;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 3rem;
}

.my-navbar-brand {
    font-size: 40px;
}

.my-navbar-brand,
.my-navbar-item {
    color: #1ea365
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
    color: #ed9c9c
}

.panel-default>.panel-heading {
    color: #f4f8ce;
    background-color: #3bc55e;
    border-color: #c0d7f4;
}

a.list-group-item:hover {
    color: #fff;
    background-color: #62e482;
}

a.list-group-item:active,
a.list-group-item:active:focus,
a.list-group-item:active:hover {
    color: #fff;
    background-color: #62e482;
    border-color: #c0d7f4;
}

a {
    color: #474a;
    text-decoration: none;
}

a:hocer {
    color: #4909;
}

.btn-default:hover {
    color: #fff;
    background-color: #474a;
}

.btn {
    border-color: #474a;
}

.btn-primary {
    background-color: #474a;
    border-color: #474a;
}

.btn-primary:hover {
    background-color: #4909;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    white-space:nowrap;
    width: 1px;
}

.form-control[disable],
.form-control[readonly] {
    background-color: #fff;
}