body {
    background-color: #abdec6;
}

.navbar {
    margin: 2rem 0 2.5rem 0;
}

.my-navbar {
    align-items: center;
    background: #e5f58d;
    display: frex;
    height: 5rem;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 3rem;
}

.my-navbar-brand {
    font-size: 50px;
}

.my-navbar-brand,
.my-navbar-item {
    color: #1ea365
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
    color: #5be6a5
}

.card {
    border-color: #c0d7f4;
}

.card-header {
    color: #f4f8ce;
    background-color: #3bc55e;
    border-color: #c0d7f4;
}

.card-footer {
    background-color: #fff;
}

a.list-group-item {
    border-color: #c0d7f4;
    list-style-type: none;
}

a.list-group-item:hover {
    color: #000;
    background-color: #cdf8d8;
}

a.list-group-item-primary {
    color: #fff;
    background-color: #5a98f6;
}

a.list-group-item-action.list-group-item-primary:hover {
    color: #fff;
    background-color: #5a98f6b4;
}

a.list-group-item:active:focus,
a.list-group-item:active:hover {
    color: #fff;
    background-color: #7fc793;
}

.btn {
    border-color: #c0d7f4;
}

.btn-primary {
    background-color: #0d6efd;
}

.btn-primary:hover {
    border-color: #0d6efd;
    background-color: #0e6efd8b;
}

.btn-secondary {
    background-color: #a1abb5;
}

.btn-secondary:hover {
    border-color: #a1abb5;
    background-color: #a1abb58b;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    border-color: #dc3545;
    background-color: #dc35468b;
}

.btn-light:hover {
    background-color: #cdf8d8;
}

tr:hover td {
    background-color: #cdf8d8;
}

.task-title {
    text-decoration: none;
    color: #000;
    display: block;
}

.task-title:hover {
    color: #000;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    white-space:nowrap;
    width: 1px;
}

.form-control[disable],
.form-control[readonly] {
    background-color: #fff;
}